/*reset*/
.bookie-container ul {
  -webkit-padding-start: 0;
  padding-bottom: 20px;
}



.bookie-container {
  /*border: 1px black solid;*/
  padding: 10px;
}

.bookie-container li {
  display: inline;
  padding: 8px;
  border: 1px solid black;
}

.bookie-container li.disabled a {
  color: gray;
}


.bookie-container li.current {
  padding: 12px;
}

.bookie-container .range {
  padding-bottom: 30px;
}

